// global configuration
manifest {
  name = 'SG10K-lcWGS'
  author = 'Justin Jeyakani, Mar Gonzalez-Porta, Maxime HEBRARD, Kevin Nathanael Ramanto, Nicolas Bertin'
  homePage = 'https://github.com/c-BIG/SG10K-lcWGS'
  description = 'Nextflow SG10K-lcWGS reference panel generation.'
  mainScript = 'main.nf'
  nextflowVersion = '!>=23.04.1'
  version = '0.1.0'
}

// launch info
params {
	dir = "."
	infodir = "${params.dir}/info"
}

trace {
	enabled = true
 	file = "${params.infodir}/trace.txt"
}

timeline {
 	enabled = true
	file = "${params.infodir}/timeline.html"
}

dag {
	enabled = true
	file = "${params.infodir}/dag.html"
}

report {
	enabled = true
	file = "${params.infodir}/report.html"
}

// s3
plugins {
	id "nf-amazon"
}

aws.client.downloadParallel = true
// aws.client.downloadNumWorkers = 20

// docker
docker.enabled = true
docker.fixOwnership = true

// launch profiles
profiles {
	local {
		process.executor = "local"
		process.container = "sg10k-lcwgs:latest"
		process.errorStrategy = "finish"
		//process.maxRetries = 1
	}
}

// process resources
process {
	withName:impute_phase {
		cpus = 2
		memory = "6 GB"
	}
	withName:impute_ligate {
		cpus = 1
		memory = "1 GB"
	}
	withName:impute_concat {
		cpus = 1
		memory = "1 GB"
	}
        withName:refpanel {
                cpus = 8
                memory = "8 GB"
        }
}
